#body {
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80em;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  height: 5em;
  background-color: rgba(10, 6, 61, 0.699);
}

header h1 {
  margin-top: 0;
  position: relative;
  top: .25em;
  font-size: 40px;
  color: #f1f1f1;
}

#h-m {
  color: blueviolet;
}

#search {
  display: flex;
  position: relative;
  top: 6em;
  justify-content: center;
  flex-direction: column;
}

.bar {
  width: 15em;
  margin: 0 auto;
  padding: .5em;
  border: none;
  border-bottom: 3.5px solid; 
  background-color: transparent;
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: border-bottom .3s ease-out;
}

.bar:focus {
  border-bottom: 3.5px solid blueviolet;
  outline: none;
  
}

.bar::placeholder {
  font-size: 21px;
  color: gray;
  font-weight: normal;
}

#searchButton {
  position: relative;
  top: 1.5em;
  background-color: rgba(10, 6, 61);
  color: white;
  width: 10.5em;
  height: 4.2em;
  margin: 0 auto;
  border: 3px solid transparent;
  border-radius: 1.75em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .19s ease-in;
}

#searchButton:hover {
  background-color: blueviolet;
  border: 3px solid;
}

#main {
  position: relative;
  top: 13em;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

#result {
  padding-bottom: 2em;
  color: white;
  height: auto;
  width: 48%;
  background-color: rgba(10, 6, 61, 0.699);
  border-radius: 14px;
  
}

#resultTracks {
  height: 40em;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#tr_body {
  position: relative;
  top: 1em;
  left: -.8em;
  width: 90%;
}

#tr_body.hide {
  display: none;
}


hr {
  height: 1px;
  border: none;
  background-color: white;
}

#rl_h2 {
  position: relative;
  bottom: -.8em;
  left: .8em;
  border-bottom: 3px solid transparent;
  width: 4em;
  letter-spacing: 2px;
  transition: border-bottom .3s ease-out;
}

.song {
  cursor: default;
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: .5px;
  padding-left: .3em;
  clear: left;
}

.art_alb {
  cursor: default;
  list-style: none;
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: .5px;
  color: rgb(165, 165, 165);
  padding-left: .5em;
}

.rl_button {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.4em;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: color .3s ease-out;
}

.rl_button:hover {
  color: grey;
  
}

#playlist {
  display: flex;
  flex-direction: column;
  align-content: center;
  float: right;
  color: white;
  background-color: rgba(10, 6, 61, 0.699);
  width: 48%;
  height: 45.3em;
  border-radius: 14px;
}

#playlistTracks {
  position: relative;
  top: 3em;
  max-height: 27em;
  overflow-y: auto;
}

#pl_h2 {
  position: relative;
  left: .7em;
  width: 8.6em;
  border-bottom: 3px solid transparent;
  letter-spacing: 2px;
  transition: border-bottom .3s ease-out;
}

#pl_search {
  align-self: center;
  position: relative;
  top: 1em;
  background-color: transparent;
  height: 2em;
  width: 88%;
  border: none;
  border-bottom: 3px solid white;
  font-size: 25px;
  font-weight: bold;
  color: white;
  transition: border-bottom .3s ease-out;
}

#pl_search::placeholder {
  font-size: 21px;
  font-weight: normal;
  letter-spacing: .6px;
}

#pl_search:focus {
  border: none;
  border-bottom: 3px solid blueviolet;
  outline: none;
}

#pltr-id {
  display: block;
  position: relative;
  left: -.8em;
  width: 90%;
}

.xButton {
  position: absolute;
  top: .5em;
  right: .5em;
  font-size: 1.4em;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: color .3s ease-out;
}

.xButton:hover {
  color: grey;
  
}

#pl_button {
  position: relative;
  top: 6em;
  width: 180px;
  height: 50px;
  background-color: blueviolet;
  margin: 0 auto;
  border-radius: 18px;
  border: 2px solid #1ED760;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  letter-spacing: .5px;
  cursor: pointer;
  transition: all .4s ease-out;
}

#pl_button:hover {
  background-color: #1ED760;
  border: 2px solid #191414;
  color: #191414;
}


